$day-size: 100px;
$gap-size: 1px;
$padding-size: 10px;
$num-columns: 7;
$color-day: #eee;
$color-border: black;
$color-hovered: #ffbfcb;
$transformDuration: 0.5s;
$calendar-width: calc(
  #{$num-columns} * #{$day-size} + (#{$num-columns} - 1) * #{$gap-size}
);
$grid-width: calc(#{$calendar-width} + #{$padding-size});
$week-days: (
  mon: 0,
  tue: 1,
  wed: 2,
  thu: 3,
  fri: 4,
  sat: 5,
  sun: 6,
);
